<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            %5p|%d{ISO8601_OFFSET_DATE_TIME_HHCMM}|%c{1}|%markerSimpleName|%mdc{conversationId}|%mdc{uniqueId}|%message%exception{short}%n
        </Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="ConsoleAppender" />
        </Root>
    </Loggers>
</Configuration>